#footer {
    background-color: black;
  }
  .col-12 {
    color: white;
  }
  .col-12 > a {
    color: white;
  }
  .col-12 > a:hover {
    color:#15D4BE;
    text-decoration: none;
  }
  
  .col-12 a img {
    cursor: pointer;
    border-radius: 20%;
    opacity: 0.4;
    width: 2rem;
    
  }
  .col-12 a img:hover  {
    cursor: pointer;
    opacity: 100;
  }
  
  .container-copy {
    background-color: white;
  }