
  .mainprincipal{
        
         
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    align-content: stretch;
    padding-top: 2rem;
}

.twocolumns{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: stretch;
    align-content: stretch;
    border-top: #d8d8d85c 0.1rem solid;
    padding-top: 2rem;
}

.twocolumnsFirstColumn{
    padding-right: 5rem;
    padding-left: 8rem;
    margin-bottom:2rem;
}

.paddingBottonImg{
  padding-bottom: 2rem;

}


.twoColumn{
    text-align: justify;
    font-weight: 300;
    padding-right: 5rem;
    letter-spacing: 0.3px;
    padding-top: 3rem;
}

.twoColumnFirst{
  text-align: justify;
  font-weight: 300;
  padding-right: 5rem;
  letter-spacing: 0.3px;
  padding-top: 3rem;
}

.spaceTop{
  padding-top: 3rem;
}


.twoColumn{
  text-align: justify;
  font-weight: 300;
  padding-right: 5rem;
  letter-spacing: 0.3px;
  padding-top: 0.1rem;
}


.hcolumn{
    margin-top: 0px;
    font-size: 2rem;
    font-weight: 400;
    
}



/* section @media screen  */

@media screen and (max-width: 960px) {
 


  .hcolumn{
      text-align: center
  }

  .twoColumn{
      padding-left: 1.5rem;
      padding-right: 1.5rem;
      font-size: 1rem;
  }

  .twoColumnFirst{
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    font-size: 1rem;
}


 

  .twocolumnsFirstColumn{
      padding-right: 0.3rem;
      padding-left: 0.3rem;
  }

  .sectioncontenido  {
      display: flex;
      flex-direction: column;
       padding: 0% ;
       align-content: center;
       align-items: center;
  }  

  .row4 , .twocolumns{
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: space-around;
      align-items: center;
      align-content: center;
  }

  .onlyDesktop{
    visibility: hidden;
  }


 
}



@media screen and (max-width: 500px) {
  .responsive-v {
      
    width:310px;
       
  }  

}