.galery-center{
    background-color: #15D4BE;
}


.favoritesTitle{
    padding-top: 10rem;
}

@media screen and (max-width: 500px) {
    .main__container {
 
        margin-bottom: 900px;
      
    }
  }

