.main-sign-up {
    display: flex;
    flex-direction: column;
    align-items:center ;
    justify-content: center;
    height: 40em;
  }
  
  .mb-4 > button {
    background-color: #15D4BE;
    opacity: 0.5;
    color: black;
    border-radius: 15px;
  }
  
  .mb-4 > button:hover {
    background-color: #15D4BE;
    opacity: 100%;
    color: white;
  }
  
  .div-sign-up {
    width: 25em;
    height: 30em;
    border: 1px solid gray;
    border-radius: 10px;
    padding: 2em 1em 1em 1em;
    box-shadow: 1px 1px 1px 1px gray, 0em 0 .9em
  }